<app-a-nav></app-a-nav>
<div class="tablecontainer">

  <table class="table">
    <thead class="thead">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Subject</th>
        <th scope="col"><a class="link" (click)="addSubform()">Add</a></th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let item of subData ;let i = index">
        <td scope="row">{{i+1}}</td>
        <td>{{item.name}}</td>
        <td><a class="link" (click)="openDialog(item)">Edit</a></td>
      </tr>

    </tbody>
  </table>

</div>
